*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: unset;
}

button,
input,
textarea {
    border: unset;
    background-color: unset;
}

/*a,
input,
button {
    appearance: none;
}*/

body {
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased; //Отключение субпиксельного сглаживания на MacOS
}

h1, h2, h3, h4, h5, h6 {
    line-height: calc(1em + 0.5rem);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}



.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.svg-sprite {
    position: absolute;
    width: 0;
    height: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.no-wrap {
    white-space: nowrap;
}